@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
  height: auto;
  background: #EBF5FF url('/Images/Full_Bloom.PNG') repeat fixed;
  font-family: 'Rubik', sans-serif;
  color: #143D66;
}

/* Custom Class */
.vertical-center {
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.highlight-font {
    font-family: 'Quicksand', sans-serif;
}

.heading-font {
  font-family: 'Bitter', cursive;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  border-color: #73808D;
}

.form-signin input[type="password"] {
  border-color: #73808D;
}