@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

html, body {
  height: auto;
  background: #E6F2FF url('/Images/Full_Bloom.PNG') repeat fixed;
  color: #27465C;
  font-family: 'Nunito Sans', sans-serif;
}

/* My Custom Class */
input[type="checkbox"] {
  position: absolute;
  transform: scale(0);
}

label {
  cursor: pointer;
}

.m-checkbox {
  display: grid;
  width: 20PX;
  height: 20PX;
  border-radius: 4PX;
  border: 1PX solid rgba(25, 25, 25, 0.175);
  transition: all 0.5s;
}
.m-checkbox-tick ~ .ph-check {
  opacity: 0; transition: all 0.5s;
}

input[type="checkbox"]:checked ~ .m-checkbox {background: #1AC0A2;}

input[type="checkbox"]:checked ~ .m-checkbox .m-checkbox-tick {
  opacity: 1;
  /* transform: rotate(45deg);
  width: 10PX;
  border-color: #1AC0A2;
  border-top: transparent;
  border-left: transparent; */
}

.vertical-center {
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.highlight-font {
  font-family: 'Raleway', sans-serif;
}

.login-heading-font {
  color: #0080FF;
  font-family: 'Comfortaa', cursive;
}

/* My Custom Class */

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="number"] {
  border-color: #4E8DB7;
}

.form-signin input[type="password"] {
  border-color: #4E8DB7;
}