@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

html, body {
  height: auto;
  background: #E6F2FF url('/Images/Full_Bloom.PNG') repeat fixed;
  color: #27465C;
  font-family: 'Nunito Sans', sans-serif;
}

/* My Custom Class */
.file_upload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.file_upload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.vertical-center {
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.highlight-font {
  font-family: 'Raleway', sans-serif;
}

.login-heading-font {
  color: #0080FF;
  font-family: 'Comfortaa', cursive;
}

/* My Custom Class */

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="number"] {
  border-color: #4E8DB7;
}

.form-signin input[type="password"] {
  border-color: #4E8DB7;
}